/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */ /* Import only what you need from Bootstrap */

@import "bootstrap/scss/root";

@import "bootstrap/scss/reboot";

@import "bootstrap/scss/type";


@import "bootstrap/scss/buttons";

@import "bootstrap/scss/images";

@import "bootstrap/scss/containers";

@import "bootstrap/scss/grid";

@import "bootstrap/scss/utilities";

@import "bootstrap/scss/utilities/api";


@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/accordion";
@import "bootstrap/scss/alert";
//@import "bootstrap/scss/badge";
//@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/button-group";
//@import "bootstrap/scss/card";
//@import "bootstrap/scss/carousel";
@import "bootstrap/scss/close";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/images";
//@import "bootstrap/scss/list-group";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/pagination";
@import "bootstrap/scss/popover";
@import "bootstrap/scss/progress";
@import "bootstrap/scss/spinners";
@import "bootstrap/scss/toasts";
@import "bootstrap/scss/tooltip";
@import "bootstrap/scss/helpers";

:root {
  --swiper-theme-color: #d4af37!important;
  --swiper-navigation-size: 80px!important;
  --buy-btn-color: #70C38A;
  --buy-btn-color-hover: #5A9E7D;
  --details-btn-color: #565E64;
  --details-btn-color-hover: #3D3E3F;
  /*font-family: Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-mono: "Fira Mono", monospace;
  --pure-white: #ffffff;
  --primary-color: #b9c6d2;
  --secondary-color: #d0dde9;
  --tertiary-color: #edf0f8;
  --accent-color: #ff3e00;
  --heading-color: rgba(0, 0, 0, 0.7);
  --text-color: #444444;
  --background-without-opacity: rgba(255, 255, 255, 0.7);
  --column-width: 42rem;
  --column-margin-top: 4rem;*/
}
.add-to-cart-btn{
  background-color: var(--buy-btn-color);
  border: 1px solid var(--buy-btn-color);
  &:hover, &:focus {
      background-color: var(--buy-btn-color-hover);
      border: 1px solid var(--buy-btn-color-hover);
      box-shadow: 0 0 0 0.2rem var(--buy-btn-color-hover);
  }
}
.read-more-btn {
  width: 100%;
  background-color: var(--details-btn-color);
  border: 1px solid var(--details-btn-color);
  &:hover, &:focus {
      background-color: var(--details-btn-color-hover);
      border: 1px solid var(--details-btn-color-hover);
      box-shadow: 0 0 0 0.2rem var(--details-btn-color-hover);
  }
}

body{
    scroll-behavior: unset;
    overflow-y: auto;
    margin-right: 0px;
      &.my-modal-open {
        overflow-y: hidden;
        position:relative;
        margin-right: 16px;
      }
  }
  /*This would all go into the global.css file*/
	[data-tooltip] {
    position: relative;
    z-index: 999999999;
    display: block;
  }
  
  [data-tooltip]:before,
  [data-tooltip]:after {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: .2s ease-out;
    transform: translate(-50%, 5px)
  }
  
  [data-tooltip]:before {
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-bottom: 5px;
    padding: 7px;
    width: 100%;
    min-width: 70px;
    max-width: 250px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
    transition: .2s ease-out
  }
  
  [data-tooltip]:after {
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsla(0, 0%, 20%, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
  }
  
  [data-tooltip]:hover:before,
  [data-tooltip]:hover:after {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 0)
  }
  [data-tooltip=false]:hover:before,
  [data-tooltip=false]:hover:after {
    visibility: hidden;
    opacity: 0;
  }
/*
body {
  min-height: 100vh;
  margin: 0;
  background-color: var(--primary-color);
  background: linear-gradient(
    180deg,
    var(--primary-color) 0%,
    var(--secondary-color) 10.45%,
    var(--tertiary-color) 41.35%
  );
}

body::before {
  content: "";
  width: 80vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 10vw;
  z-index: -1;
  background: radial-gradient(
    50% 50% at 50% 50%,
    var(--pure-white) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 0.05;
}

#svelte {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
p {
  font-weight: 400;
  color: var(--heading-color);
}

p {
  line-height: 1.5;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 1rem;
}

pre {
  font-size: 16px;
  font-family: var(--font-mono);
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 3px;
  box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
  padding: 0.5em;
  overflow-x: auto;
  color: var(--text-color);
}

input,
button {
  font-size: inherit;
  font-family: inherit;
}

button:focus:not(:focus-visible) {
  outline: none;
}

@media (min-width: 720px) {
  h1 {
    font-size: 2.4rem;
  }
}
*/
*:focus {
  outline: 0;
}


.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 990;
  &.active {
    display:block;
  }
}

.modal .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 995;
  background: rgba(0,0,0,0.45);
}

.modal .modal_content {
  overscroll-behavior: contain;


  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 80%;
  overflow: auto;
  background: #fff;
  box-shadow: 0 1px 5px rgba(0,0,0,0.7);
  border-radius: 4px;
  width: 85%;
  text-align: center;
  .modal-header {
    @include bg-gradient();
    //background: #ffd880;
    padding-top: 0px;
    padding-bottom: 0px;

    .header-logo {
      height: 35px;
      margin: auto;
    }

    .modal-title {
      font-weight: 700;
      font-size: 2.5em;

    }
  }
  .modal-body {
    background: url('https://res.cloudinary.com/ms-global/image/upload/w_auto,f_auto/v1634461664/msAssets/wall_bg_az5xzl');
    background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('https://res.cloudinary.com/ms-global/image/upload/w_auto,f_auto/v1634461664/msAssets/wall_bg_az5xzl');
    background-position: center;
    //background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ),url('../imgs/catalogBg1.jpeg');
    overflow: hidden;
    text-align: right;
  }



  .modal-fotter {
    @include bg-gradient();
    //max-height: 10%;
    display: flex;
    flex-direction: row;

    .header-logo {
      height: 35px;
    }

    .modal-title {
      font-weight: 700;
      font-size: 2.5em;
    }
  }
}

.like-btn-small {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  * {
      margin: 0;
      width: 100%;
      flex:1;
      flex-grow: 1;
      flex-shrink: 0;
  }
  .action-btn {
      min-width: fit-content;
      display: inline-block;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      text-align: center;
      text-decoration: none;
      vertical-align: middle;
      cursor: pointer;
      user-select: none;
      border: 1px solid transparent;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      border-radius: 0.25rem;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      &.gold {
          @include bg-gradient();
          &:hover, &:focus {
              box-shadow: inset 0 0 0 0.2rem #e0aa3e;
          }
          
      }
  }
  
}
.close-btn {
  flex:1;
  border-radius: 999999px;
  flex-grow: 0;
  flex-shrink: 1;
  font-weight: bolder;
  border: none;
  background: none;
  font-size: 2rem;
  &:hover,&:focus {
    color:red;
  }
  &.left {
    padding-right:7%;
    padding-left: 2%;
    opacity: 0;
    cursor: default;
  }
  &.right {
    padding-left:7%;
    padding-right: 2%;
  }
}













.category-menu {
  .dropdown-menu.show {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(5, auto);
    top: 0px!important;
    left: 0px!important;
    right: auto!important;
    bottom: auto!important;
    left: -150%!important;
      background: #d2d1d1;
      .dropdown-item{
        flex:1;
        flex-grow: 1;
        flex-shrink: 0;
        button.btn-dark {
          width:100%;
        }
      }
  }
}













/*
.modal {
  .close {
    border: 0;
    background: none;
    padding: 0;
    font-size: 2.5em;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0;
    margin-left: 0px;
    margin-right: auto;
    transform: translate(-0.5rem, 0.5rem);

    &:hover {
      color: red;
    }
  }

  .modal-header {
    @include bg-gradient();
    //background: #ffd880;
    padding-top: 0px;
    padding-bottom: 0px;

    .header-logo {
      height: 35px;
      margin: auto;
    }

    .modal-title {
      font-weight: 700;
      font-size: 2.5em;

    }
  }

  .modal-body {
    background: url('https://res.cloudinary.com/ms-global/image/upload/w_auto,f_auto/v1634461664/msAssets/wall_bg_az5xzl');
    background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('https://res.cloudinary.com/ms-global/image/upload/w_auto,f_auto/v1634461664/msAssets/wall_bg_az5xzl');
    background-position: center;
    //background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ),url('../imgs/catalogBg1.jpeg');
    overflow: hidden;
    text-align: right;
    //background-size: 50vh;

  }

  .modal-footer {
    @include bg-gradient();

    .modal-title {
      line-height: initial;
    }

    padding:0px;

    * {
      margin: 0px;
    }

    //background: #ffd880;
  }
}


@media (min-width: 576px) {
  .modal-dialog {
    max-width: 850px;
  }
}
*/
/*
.modal { overflow: auto !important; }

#categoryModal {
  .btn-close {
    border: 1px solid red;
    padding: .5em;
    margin-left: 1em;
    margin-right: auto;
  }

  .modal-dialog {
    margin: 0px;
    padding: 0px;
    max-width: 100vw;
    height: 100vh;
  }


  .modal-content {
    height: 100vh;

    .modal-header {
      width: 100%;
      padding: 0rem 0rem;
      @include bg-gradient();
      .modal-header-links {
        .navbar {
          width:100%;
          
          .container-fluid {
            #categoryNavbarNavDropdown {
              #categoryNav {
                margin:auto;
                ul{
                  li {
                    a {
                      .btn-dark {

                        &:hover,
                        &:focus {
                          background-color: lighten(#343a40, 50%);

                        }
                      }
                    }
                  }
                }

                .dropdown {
                  margin: auto;

                  .dropdown-menu {
                    @include bg-gradient();

                    li {
                      text-align: center;
                    }
                  }
                }
              }
            }
          }
        }


        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-between;
        //align-items: center;
        width: 100%;

        .btn {
          border-color: var(--clr-primery-gold);
          flex: 1;

        }
      }
    }

    .modal-body {
      overflow-x: hidden;

      overflow-y: scroll;
  
  
      background: url(https://res.cloudinary.com/ms-global/image/upload/f_auto/v1634461664/msAssets/wall_bg_az5xzl);
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.15)), to(rgba(0, 0, 0, 0.15))), url(https://res.cloudinary.com/ms-global/image/upload/f_auto/v1634461664/msAssets/wall_bg_az5xzl);
      background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url(https://res.cloudinary.com/ms-global/image/upload/f_auto/v1634461664/msAssets/wall_bg_az5xzl);
      background-position: center;
      text-align: right;
  
  
  
      .category-description {
        //background-color: rgba(0, 0, 0, 0.7);
        //color:white;
        color: black;
        border-radius: 15px;
        padding: 20px;
      }



    }

  }

  .modal-footer {
    @include bg-gradient();
    //max-height: 10%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;

    .header-logo {
      height: 35px;
    }

    .modal-title {
      font-weight: 700;
      font-size: 2.5em;
    }
  }

  
}

*/

/*#productModal {

  .modal-dialog {
    .modal-content {
      .modal-header {
        .btn-close {
          border: 1px solid red;
          margin: -0.5rem auto -0.5rem -0.5rem;
        }
      }
    .modal-body {
      width: 100%;
      max-width: initial!important;
    }

    .inner-body {
      display: flex;
      flex-direction: row;


      .product-detail {
        flex: 1;
        min-width: 35%;
        padding-left: 10px;

        .product-title {
          font-size: 2em;
          font-weight: bolder;
        }

        .product-description {
          max-height: 120px;
          overflow-y: auto;
          font-size: 1.3em;
          font-weight: bold;
        }

        .product-properties {
          display: flex;
          flex-direction: column;

          .product-color {
            display: flex;
            width: 100%;
            justify-content: flex-start;
            flex-grow: 1;
            flex-shrink: 0;

            .color-box {
              margin: 3px;
              max-width: 25px;
              flex: 1;
              height: 25px;
              border: 1px black solid;
              border-radius: 50%;

              &:hover {
                border: 2px red solid;
              }
            }
          }

          .product-size-wraper {
            .product-size {

              display: flex;
              width: 100%;
              justify-content: flex-start;
              flex-grow: 1;
              flex-shrink: 0;

              .size-box {
                flex: 1;
                border: 1px black solid;
                margin: 3px;
                min-width: 30px;
                text-align: center;
                font-weight: 700;

                &:hover {
                  background-color: #3D3D3D;
                  color: white
                }
              }
            }
          }
        }

      }

      .img-wraper {
        flex: 1;

        img {
          @include bg-image;
          width: 450px;
          float: left;
          border-radius: 15px;
          box-shadow: 10px 10px 5px rgb(133, 133, 133);
        }
      }
    }

    .modal-footer {
      justify-content: space-evenly;

      .btn {
        padding: 0px;
        box-shadow: none;
      }

      .modal-nav-btn {
        img {
          width: 60px;
        }
      }

      #modal-prev-btn {
        :hover {
          transform: scale(1.4);
        }
      }

      #modal-next-btn {
        transform: rotate(180deg);

        :hover {
          transform: scale(1.4) !important;
        }
      }

      #modal-add-btn {
        cursor: pointer;

        a {
          padding: 5px !important;
          border-top-left-radius: 25px;
          border-top-right-radius: 25px;
        }

        &.isAdded {
        }
      }

      #modal-add-btn:disabled {}

      @keyframes addToCartAnimation {
        from {
          transform: rotate(0deg);
        }

        to {
          transform: rotate(360deg);
        }
      }
    }
  }
} 
}*/
