/* Variables and mixins declared here will be available in all other SCSS files */
@import "bootstrap/scss/functions"; /* Override Bootstrap's variables here */
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@mixin bg-gradient {
    background-color: #edce6a;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIxMDAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjZjlmMjk1IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNlMGFhM2UiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjI1Ii8+PHN0b3Agc3RvcC1jb2xvcj0iI2Y5ZjI5NSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuNSIvPjxzdG9wIHN0b3AtY29sb3I9IiNlMGFhM2UiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjc1Ii8+PHN0b3Agc3RvcC1jb2xvcj0iI2Y5ZjI5NSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
    // background-image: -webkit-gradient(linear, 100% 0%, 0% 0%, color-stop(0, rgb(249, 242, 149)), color-stop(0.25, rgb(224, 170, 62)), color-stop(0.5, rgb(249, 242, 149)), color-stop(0.75, rgb(224, 170, 62)), color-stop(1, rgb(249, 242, 149)));
    // /* Android 2.3 */
    // background-image: -webkit-repeating-linear-gradient(right, rgb(249, 242, 149) 0%, rgb(224, 170, 62) 25%, rgb(249, 242, 149) 50%, rgb(224, 170, 62) 75%, rgb(249, 242, 149) 100%);
    // /* IE10+ */
    // background-image: repeating-linear-gradient(to left, rgb(249, 242, 149) 0%, rgb(224, 170, 62) 25%, rgb(249, 242, 149) 50%, rgb(224, 170, 62) 75%, rgb(249, 242, 149) 100%);
    // background-image: -ms-repeating-linear-gradient(right, rgb(249, 242, 149) 0%, rgb(224, 170, 62) 25%, rgb(249, 242, 149) 50%, rgb(224, 170, 62) 75%, rgb(249, 242, 149) 100%);
    
    background-image: -webkit-gradient(linear, 100% 0%, 0% 0%, color-stop(0, rgb(249, 242, 149)), color-stop(0.25, rgb(224, 170, 62)), color-stop(0.5, rgb(249, 242, 149)), color-stop(0.75, rgb(224, 170, 62)), color-stop(1, rgb(249, 242, 149)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(right, rgb(249, 242, 149) 0%, rgb(224, 170, 62) 25%, rgb(249, 242, 149) 50%, rgb(224, 170, 62) 75%, rgb(249, 242, 149) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to left, rgb(249, 242, 149) 0%, rgb(224, 170, 62) 25%, rgb(249, 242, 149) 50%, rgb(224, 170, 62) 75%, rgb(249, 242, 149) 100%);
    /* Microsoft Edge */
    background-image: -ms-repeating-linear-gradient(right, rgb(249, 242, 149) 0%, rgb(224, 170, 62) 25%, rgb(249, 242, 149) 50%, rgb(224, 170, 62) 75%, rgb(249, 242, 149) 100%);

    // new colors: #39A7BF,#363940, #182259
    background-image: -webkit-gradient(linear, 100% 0%, 0% 0%, color-stop(0, rgb(57, 167, 191)), color-stop(0.25, rgb(54, 57, 64)), color-stop(0.5, rgb(24, 34, 89)), color-stop(0.75, rgb(54, 57, 64)), color-stop(1, rgb(57, 167, 191)));
    /* Android 2.3 */

    color: var(--text-on-background-color);
}
$gold-animation-duration: 5s;
$gold-animation-text-color: rgba(255, 255, 255, 0.3);

@mixin gold-animation-mix {
    background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
    background-image: -webkit-linear-gradient(-40deg, transparent 0%, transparent 40%, #fff 50%, transparent 60%, transparent 100%);
    -webkit-background-size: 200px;
    color: $gold-animation-text-color;
    -webkit-background-clip: text;
    -webkit-animation-name: shine;
    -webkit-animation-duration: $gold-animation-duration;
    -webkit-animation-iteration-count: infinite;
    text-shadow: 0 0px 0px #cc9900ce;
}

@mixin bg-image {
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 32%, rgba(199, 199, 199, 1) 84%);
}


// same as bg-image, but with 2 colors as mixin parameters
@mixin bg-image-vars($color1, $color2) {
    background: $color1;
    background: radial-gradient(circle, $color1 0%, $color1 32%, $color2 84%);
}

:global(.gold-animation) {
    @include gold-animation-mix;
  }